In [13]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

dataSet = pd.read_csv("Dataset_spine.csv")
dataSet.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Class_att,Unnamed: 13
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,0.744503,12.5661,14.5386,15.30468,-28.658501,43.5123,Abnormal,NaN
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0.415186,12.8874,17.5323,16.78486,-25.530607,16.1102,Abnormal,NaN
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0.474889,26.8343,17.4861,16.65897,-29.031888,19.2221,Abnormal,Prediction is done by using binary classificat...
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0.369345,23.5603,12.7074,11.42447,-30.470246,18.8329,Abnormal,NaN
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0.543360,35.4940,15.9546,8.87237,-16.378376,24.9171,Abnormal,NaN

**Como podemos ver acima, o dataset tem uma coluna "extra" que não agrega valor algum ao nosso objetivo neste projeto. Então damos pop nela:**

In [14]:
dataSet.pop('Unnamed: 13')
dataSet.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Class_att
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,0.744503,12.5661,14.5386,15.30468,-28.658501,43.5123,Abnormal
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0.415186,12.8874,17.5323,16.78486,-25.530607,16.1102,Abnormal
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0.474889,26.8343,17.4861,16.65897,-29.031888,19.2221,Abnormal
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0.369345,23.5603,12.7074,11.42447,-30.470246,18.8329,Abnormal
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0.543360,35.4940,15.9546,8.87237,-16.378376,24.9171,Abnormal

**Agora vamos separar o dataset em um dataset de treino e outro para teste numa proporção de 90% e 10% do dataset original respectivamente.**

In [15]:
y = dataSet['Class_att']
x = dataSet.drop(['Class_att'], axis=1)
#x.head()

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.1, random_state=13)
classifier = MLPClassifier(max_iter=500, alpha=0.0001, verbose=True)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

Iteration 1, loss = 2.60957918
Iteration 2, loss = 1.85843520
Iteration 3, loss = 1.68493443
Iteration 4, loss = 1.33522023
Iteration 5, loss = 1.17893300
Iteration 6, loss = 1.07903918
Iteration 7, loss = 0.92595360
Iteration 8, loss = 0.83337871
Iteration 9, loss = 0.77082643
Iteration 10, loss = 0.71245224
Iteration 11, loss = 0.65522007
Iteration 12, loss = 0.60982346
Iteration 13, loss = 0.56225475
Iteration 14, loss = 0.53661800
Iteration 15, loss = 0.49642473
Iteration 16, loss = 0.47678610
Iteration 17, loss = 0.46214826
Iteration 18, loss = 0.43419042
Iteration 19, loss = 0.43300170
Iteration 20, loss = 0.41591863
Iteration 21, loss = 0.40929657
Iteration 22, loss = 0.41060427
Iteration 23, loss = 0.39580272
Iteration 24, loss = 0.39709444
Iteration 25, loss = 0.38137271
Iteration 26, loss = 0.37952878
Iteration 27, loss = 0.37928783
Iteration 28, loss = 0.36822087
Iteration 29, loss = 0.36682288
Iteration 30, loss = 0.36284944
Iteration 31, loss = 0.35771961
Iteration 32, loss = 0.35330135
Iteration 33, loss = 0.35395174
Iteration 34, loss = 0.35099757
Iteration 35, loss = 0.34926040
Iteration 36, loss = 0.34446813
Iteration 37, loss = 0.35358222
Iteration 38, loss = 0.34234811
Iteration 39, loss = 0.34179793
Iteration 40, loss = 0.34778720
Iteration 41, loss = 0.33540864
Iteration 42, loss = 0.34184825
Iteration 43, loss = 0.33816914
Iteration 44, loss = 0.33105363
Iteration 45, loss = 0.33290792
Iteration 46, loss = 0.32644043
Iteration 47, loss = 0.33463830
Iteration 48, loss = 0.33696773
Iteration 49, loss = 0.32242777
Iteration 50, loss = 0.33316401
Iteration 51, loss = 0.32023428
Iteration 52, loss = 0.32123729
Iteration 53, loss = 0.31817178
Iteration 54, loss = 0.31547231
Iteration 55, loss = 0.31441059
Iteration 56, loss = 0.31250153
Iteration 57, loss = 0.31310671
Iteration 58, loss = 0.31025836
Iteration 59, loss = 0.30965746
Iteration 60, loss = 0.31288912
Iteration 61, loss = 0.30744147
Iteration 62, loss = 0.31329314
Iteration 63, loss = 0.31010952
Iteration 64, loss = 0.30860417
Iteration 65, loss = 0.30445708
Iteration 66, loss = 0.30755738
Iteration 67, loss = 0.30381701
Iteration 68, loss = 0.31169605
Iteration 69, loss = 0.30408678
Iteration 70, loss = 0.30457727
Iteration 71, loss = 0.30536269
Iteration 72, loss = 0.30698252
Iteration 73, loss = 0.30107962
Iteration 74, loss = 0.30176093
Iteration 75, loss = 0.30042448
Iteration 76, loss = 0.30064696
Iteration 77, loss = 0.30261408
Iteration 78, loss = 0.29769553
Iteration 79, loss = 0.30370225
Iteration 80, loss = 0.29740084
Iteration 81, loss = 0.31114579
Iteration 82, loss = 0.29989766
Iteration 83, loss = 0.30013829
Iteration 84, loss = 0.29695531
Iteration 85, loss = 0.30365946
Iteration 86, loss = 0.29532988
Iteration 87, loss = 0.29524856
Iteration 88, loss = 0.29658082
Iteration 89, loss = 0.30085786
Iteration 90, loss = 0.29347644
Iteration 91, loss = 0.29258636
Iteration 92, loss = 0.29146746
Iteration 93, loss = 0.29993756
Iteration 94, loss = 0.29450299
Iteration 95, loss = 0.29202024
Iteration 96, loss = 0.29849133
Iteration 97, loss = 0.29129023
Iteration 98, loss = 0.29182500
Iteration 99, loss = 0.29080608
Iteration 100, loss = 0.29480814
Iteration 101, loss = 0.28881789
Iteration 102, loss = 0.29436549
Iteration 103, loss = 0.28715778
Iteration 104, loss = 0.29690160
Iteration 105, loss = 0.28731882
Iteration 106, loss = 0.29538435
Iteration 107, loss = 0.28685013
Iteration 108, loss = 0.29428878
Iteration 109, loss = 0.28244958
Iteration 110, loss = 0.30360599
Iteration 111, loss = 0.28639831
Iteration 112, loss = 0.29755869
Iteration 113, loss = 0.28543385
Iteration 114, loss = 0.29114873
Iteration 115, loss = 0.29243944
Iteration 116, loss = 0.28565614
Iteration 117, loss = 0.28937016
Iteration 118, loss = 0.28907135
Iteration 119, loss = 0.28397029
Iteration 120, loss = 0.28722243
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

In [17]:
accuracy_score(y_test, y_pred)

0.9354838709677419

In [18]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

    Abnormal       0.95      0.95      0.95        20
      Normal       0.91      0.91      0.91        11

    accuracy                           0.94        31
   macro avg       0.93      0.93      0.93        31
weighted avg       0.94      0.94      0.94        31

**Podemos ver que a precisão da classificação de casos normais é menor. Isso possivelmente se dá por conta do fato de existirem mais casos anormais na amostra, como mostrado abaixo. Testaremos esta hipótese mais a frente.**

In [19]:
y.value_counts()

Abnormal    210
Normal      100
Name: Class_att, dtype: int64