**Alunos: Jefferson Costa, Sávio Berdine, Amanda Lasserre, Kevin Andrews, Nicholas Henrique**

Importação das bibliotecas necessárias:

In [1]:
import pandas as pd 
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submission = pd.read_csv("gender_submission.csv")

In [3]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [4]:
#selecionando as features relevantes pra treino e pra teste
features = ["Pclass","Sex","Age","SibSp","Parch"]
x_test = pd.DataFrame(test.loc[:,features].values)
x_test

     0       1     2  3  4
0    3    male  34.5  0  0
1    3  female  47.0  1  0
2    2    male  62.0  0  0
3    3    male  27.0  0  0
4    3  female  22.0  1  1
..  ..     ...   ... .. ..
413  3    male   NaN  0  0
414  1  female  39.0  0  0
415  3    male  38.5  0  0
416  3    male   NaN  0  0
417  3    male   NaN  1  1

[418 rows x 5 columns]

In [5]:
#selecionando a coluna que importa para nossa análise
y_test = submission.loc[:,"Survived"].values

#dividindo o conjunto para o treino entre features e resultados desejados
x_train = pd.DataFrame(train.loc[:,features].values)
y_train = train.loc[:,"Survived"].values

In [6]:
#Transformando as strings em valores númericos
converte = preprocessing.LabelEncoder()
x_train = x_train.apply(converte.fit_transform)
x_test = x_test.apply(converte.fit_transform)

In [7]:
#criando uma instância do classificador
classifier = DecisionTreeClassifier(max_depth=5)

#ajustando o classificador
classifier.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=5)

In [8]:
#testando o classificador
score = classifier.score(x_test, y_test)
print(score)

0.854066985645933