**Alunos: Jefferson Costa, Sávio Berdine, Amanda Lasserre, Kevin Andrews, Nicholas Henrique**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [2]:
#importando os datasets
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
#codificando a coluna sex
train = pd.get_dummies(train, columns = ['Sex'])

In [4]:
#Selecionando as features
features = ['Pclass', 'Sex_male', 'Sex_female', 'Parch', 'SibSp', 'Fare']

train_label = train[['Survived']]
train_features = train[features]
train_features.head()

   Pclass  Sex_male  Sex_female  Parch  SibSp     Fare
0       3         1           0      0      1   7.2500
1       1         0           1      0      1  71.2833
2       3         0           1      0      0   7.9250
3       1         0           1      0      1  53.1000
4       3         1           0      0      0   8.0500

In [5]:
#criando uma instância do classificador
classifier = DecisionTreeClassifier(max_depth=5, random_state=0)
#ajustando o classificador
classifier.fit(train_features, train_label)

DecisionTreeClassifier(max_depth=5, random_state=0)

In [6]:
y_pred = classifier.predict(train_features)
report = classification_report(train_label, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.82      0.94      0.88       549
           1       0.87      0.67      0.76       342

    accuracy                           0.84       891
   macro avg       0.85      0.81      0.82       891
weighted avg       0.84      0.84      0.83       891

**Caso de teste**

In [7]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [8]:
meanFare = train['Fare'].mean()
test = test.fillna({"Fare": meanFare})

test = pd.get_dummies(test, columns=['Sex'])
test = pd.get_dummies(test, columns=['Embarked'])

ids = test['PassengerId']
test_feature = test[features]
predictions = classifier.predict(test_feature)

output = pd.DataFrame({'PassengerId': ids, 'Survived': predictions})
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         0

In [9]:
output.to_csv('caso_teste.csv', index=False)